/***************************************************************************\
* Copyright (c) 2023, Sofie Martins, Claudio Pica                           *
* All rights reserved.                                                      *
\***************************************************************************/

#include <string.h>

#if !defined(_FIELD_NAME)
#error Missing _FIELD_NAME in memory.c
#endif
#if !defined(_FIELD_TYPE)
#error Missing _FIELD_TYPE in memory.c
#endif
#if !defined(_SITE_TYPE)
#error Missing _SITE_TYPE in memory.c
#endif
#if !defined(_FIELD_DIM)
#error Missing _FIELD_DIM in memory.c
#endif

#define CONCAT(_name,_suffix) _name ## _suffix
#define _F_NAME(_name, _suffix) CONCAT(_name,_suffix)
#define _FUNC(_name, _args) void _F_NAME(_name,_FIELD_NAME) _args

_FUNC(to_gpu_format_, (_FIELD_TYPE *out, _FIELD_TYPE *in)) {
    _CHECK_GEOMETRY_MATCHING(out, in);  
    _PIECE_FOR(in->type, ixp) {
        int stride = in->type->master_end[ixp] - in->type->master_start[ixp] + 1;
        _SITE_TYPE *target = _DFIELD_BLK(out, ixp, _FIELD_DIM);
        _SITE_FOR(in->type, ixp, ix) {
            int ix_loc = _GPU_IDX_TO_LOCAL(in, ix, ixp);
            for (int comp = 0; comp < _FIELD_DIM; ++comp) {
                _SITE_TYPE *source = _DFIELD_AT(in, ix, comp, _FIELD_DIM);
                _F_NAME(write_gpu_,_SITE_TYPE)(stride, (*source), target, ix_loc, comp, _FIELD_DIM);
            }
        }
    }            
}

_FUNC(to_cpu_format_, (_FIELD_TYPE *out, _FIELD_TYPE *in)) {
    _CHECK_GEOMETRY_MATCHING(out, in);
    _PIECE_FOR(in->type, ixp) {
        int stride = in->type->master_end[ixp] - in->type->master_start[ixp] + 1;
        _SITE_TYPE *source = _DFIELD_BLK(in, ixp, _FIELD_DIM);
        _SITE_FOR(in->type, ixp, ix) {
            int ix_loc = _GPU_IDX_TO_LOCAL(in, ix, ixp);
            for (int comp = 0; comp < _FIELD_DIM; ++comp) {
                _SITE_TYPE *target = _DFIELD_AT(out, ix, comp, _FIELD_DIM);
                _F_NAME(read_gpu_,_SITE_TYPE) (stride, (*target), source, ix_loc, comp, _FIELD_DIM);
            }
        }
    }          
}

#undef _FUNC
#undef _F_NAME
