/***************************************************************************\
* Copyright (c) 2023, Sofie Martins                                         *   
* All rights reserved.                                                      * 
\***************************************************************************/

#include "Utils/generics.h"

#if !defined _FIELD_TYPE
#error Missing _FIELD_TYPE in spinor_field.c
#endif
#if !defined _FIELD_DIM
#error Missing _FIELD_DIM in spinor_field.c
#endif

_FIELD_TYPE _F_NAME(get_even_part_, _FIELD_TYPE)(_FIELD_TYPE *);
_FIELD_TYPE _F_NAME(get_odd_part_, _FIELD_TYPE)(_FIELD_TYPE *);

#undef _FIELD_TYPE
#undef _FIELD_DIM
