/***************************************************************************\
* Copyright (c) 2008, Claudio Pica and Agostino Patella                     *
* All rights reserved.                                                      *
\***************************************************************************/

#include "Utils/generics.h"

// Error checking
#if !defined(_FIELD_TYPE)
#error Missing _FIELD_TYPE in linear_algebra.h
#endif
#if !defined(_REAL)
#error Missing _REAL in linear_algebra.h
#endif
#if !defined(_COMPLEX)
#error Missing _COMPLEX in linear_algebra.h
#endif

/* s1=r1*s2+r2*s3 */
_DECLARE_LINA_HEADER(void, lc, (_FIELD_TYPE * s1, _REAL r1, _FIELD_TYPE *s2, _REAL r2, _FIELD_TYPE *s3));

/* s1+=r1*s2+r2*s3 */
_DECLARE_LINA_HEADER(void, lc_add_assign, (_FIELD_TYPE * s1, _REAL r1, _FIELD_TYPE *s2, _REAL r2, _FIELD_TYPE *s3));

/* s1=c1*s2+c2*s3 c1, c2 complex*/
_DECLARE_LINA_HEADER(void, clc, (_FIELD_TYPE * s1, _COMPLEX c1, _FIELD_TYPE *s2, _COMPLEX c2, _FIELD_TYPE *s3));

/* s1+=c1*s2+c2*s3 c1, c2 complex*/
_DECLARE_LINA_HEADER(void, clc_add_assign, (_FIELD_TYPE * s1, _COMPLEX c1, _FIELD_TYPE *s2, _COMPLEX c2, _FIELD_TYPE *s3));

/* tools per eva.c  */
_DECLARE_LINA_HEADER(void, lc1, (_REAL c1, _FIELD_TYPE *s1, _FIELD_TYPE *s2));

_DECLARE_LINA_HEADER(void, lc2, (_REAL c1, _REAL c2, _FIELD_TYPE *s1, _FIELD_TYPE *s2));

_DECLARE_LINA_HEADER(void, lc3, (_REAL c1, _REAL c2, _FIELD_TYPE *s1, _FIELD_TYPE *s2, _FIELD_TYPE *s3));
