/***************************************************************************\
* Copyright (c) 2008, Claudio Pica and Agostino Patella                     *
* All rights reserved.                                                      *
\***************************************************************************/

#include "Utils/generics.h"

// Error checking
#if !defined(_FIELD_TYPE)
#error Missing _FIELD_TYPE in linear_algebra.h
#endif
#if !defined(_REAL)
#error Missing _REAL in linear_algebra.h
#endif
#if !defined(_COMPLEX)
#error Missing _COMPLEX in linear_algebra.h
#endif

/* Re <g5*s1,s2> */
_DECLARE_LINA_HEADER(double, g5_prod_re, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* Im <g5*s1,s2> */
_DECLARE_LINA_HEADER(double, g5_prod_im, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1+=c*g5*s2 c complex */
_DECLARE_LINA_HEADER(void, g5_mulc_add_assign, (_FIELD_TYPE * s1, _COMPLEX c, _FIELD_TYPE *s2));

/* s1=g5*s2  */
_DECLARE_LINA_HEADER(void, g5, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1=g5*s1  */
_DECLARE_LINA_HEADER(void, g5_assign, (_FIELD_TYPE * s1));

/* s1=g0*s2  */
_DECLARE_LINA_HEADER(void, g0, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1=g1*s2  */
_DECLARE_LINA_HEADER(void, g1, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1=g2*s2  */
_DECLARE_LINA_HEADER(void, g2, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1=g3*s2  */
_DECLARE_LINA_HEADER(void, g3, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));
