/***************************************************************************\
* Copyright (c) 2008, Claudio Pica and Agostino Patella                     *
* All rights reserved.                                                      *
\***************************************************************************/

#include "Utils/generics.h"

// Error checking
#if !defined(_FIELD_TYPE)
#error Missing _FIELD_TYPE in linear_algebra.h
#endif
#if !defined(_REAL)
#error Missing _REAL in linear_algebra.h
#endif
#if !defined(_COMPLEX)
#error Missing _COMPLEX in linear_algebra.h
#endif

/* s1=s2 */
_DECLARE_LINA_HEADER(void, copy, (_FIELD_TYPE * s1, _FIELD_TYPE *s2));

/* s1=0 */
_DECLARE_LINA_HEADER(void, zero, (_FIELD_TYPE * s1));

//undefine macros
//internal macros
#undef _CPU_F_NAME
#undef CONCAT_CPU
#undef _CPU_FUNC_INNER
#undef _GPU_FUNC_INNER
#undef _PTR_FUNC_INNER

//user interface macros
#undef _FIELD_TYPE
#undef _REAL
#undef _COMPLEX
